.values {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  min-height: calc(90vh - 50px);
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .item {
    margin-bottom: 15px;
    font-size: 19px;
  }
}
